.site-button {
    display: inline-block;
    padding: 2px;
    cursor: pointer;
    border-radius: 15px;
}

.button-blue {
    background-color: rgb(0, 34, 128);
}

.button-blue:hover {
    background-color: rgb(196, 194, 194);
}

.button-gray {
    background-color: rgb(160, 160, 160);
}

.button-gray:hover {
    background-color: salmon;
}

.site-button-inner {
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 15px;
}

.button-blue-inner {
    background-color: rgb(0, 34, 128);
    color: snow;
}

.button-gray-inner {
    background-color: rgb(160, 160, 160);
    color: rgb(86, 86, 86)
}